{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    {% if message %}
    <div>
        {{ message }}
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">{{ message }}</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="d-flex align-items-center justify-content-center" style="margin-top: 30px">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
                    src="http://127.0.0.1:8000/resources/logo.png"
                    height="70"
                    alt="MDB Logo"
                    loading="lazy"
            />
        </a>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px">
        <h1>Зарегистрироваться в "Гид по ремонту"</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center">
        <form action="{{ path('register') }}" method="post" class="form-center shadow-3-strong" style="width: 400px; height: 320px"> {# height: 370px #}
            <div class="form-outline border rounded-8" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
                <input class="form-control" type="text" id="username" name="name" required="required" pattern="[А-Я]{1}[а-яё]{1,23}"/>
                <label for="username" class="form-label">Имя</label>
            </div>

            <div class="form-outline border rounded-8" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
                <input class="form-control" type="text" id="username" name="second_name" required="required" pattern="[А-Я]{1}[а-яё]{1,23}"/>
                <label for="username" class="form-label">Фамилия</label>
            </div>

            <div class="form-outline border rounded-8" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
                <input class="form-control" type="email" id="username" name="email" required="required"/>
                <label for="username" class="form-label">Электронная почта</label>
            </div>

            <div class="form-outline border rounded-8" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">
                <input class="form-control" type="password" id="password" name="password" required="required"/>
                <label for="password" class="form-label">Пароль</label>
            </div>

{#            <div class="form-outline border rounded-8" style="margin-top: 20px; margin-left: 10px; margin-right: 10px">#}
{#                <input class="form-control" type="password" id="password" required="required"/>#}
{#                <label for="password" class="form-label">Повторите пароль</label>#}
{#            </div>#}

            {# If you want to control the URL the user is redirected to on success
        <input type="hidden" name="_target_path" value="/account"/> #}

            <button type="submit" class="btn btn-light btn-rounded" style="margin-top: 20px;">Зарегистрироваться</button>
        </form>
    </div>
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px">
        <span>Уже есть аккаунт? <a href="{{ path('login') }}">Войдите!</a></span>
    </div>
{% endblock %}
