{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}
    <div>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
        <p>asdasd</p>
    </div>
    <div>
        <button id="btn">EnablePen</button>
        <button id="save">SavePen</button>
        <canvas id="canvas" width="600" height="400" style="border: 1px solid black"></canvas>
    </div>
{% endblock %}
