{% extends 'base.html.twig' %}

{% block title %}Hello CalculatorController!{% endblock %}

{% block body %}
    <div>
        <canvas id="canvas" width="500" height="500" style="border: 1px solid black"></canvas>
        <br>
        <button id="btn">EnablePen</button>
        <button id="save">SavePen</button>
    </div>
    <div class="follow-cursor hidden"></div>
    <span class="answer hidden"></span>
{% endblock %}
