.follow-cursor {
    display: block;
    width: 50px;
    height: 20px;
    border: 1px solid black;
    background: white;
    position: absolute;
    z-index: 999;
    transition: width 0.64s, height 0.64s, border-radius 0.64s, background 0.64s;
}

.hidden {
    display: none;
}

.form-center {
    display: inline-block;
    text-align: center;
    /*margin-top: 100px;*/
}