{% extends 'base.html.twig' %}

{% block title %}Гид по ремонту{% endblock %}

{% block body %}
    <div class="d-flex align-items-center justify-content-center" style="margin-top: 80px">
        <a class="navbar-brand mt-2 mt-lg-0" href="#">
            <img
                    src="http://127.0.0.1:8000/resources/logo.png"
                    height="70"
                    alt="MDB Logo"
                    loading="lazy"
            />
        </a>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 30px">
        <h1>Гид по ремонту</h1>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 30px">
        <h3>Здесь вы можете найти всю необходимую информацию о ремонте</h3>
    </div>

    <div class="d-flex align-items-center justify-content-center" style="margin-top: 20px; margin-bottom: 30px">
        <div class="input-group rounded" style="width: 500px;">
            <input id="searchInputMain" type="search" class="form-control rounded" placeholder="Найти статью"
                   aria-label="Search"
                   aria-describedby="search-addon"/>
            <button id="btnSearchMain" type="button" class="btn btn-primary">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>

    <div class="text-center text-white" style="background-color: white;">
        <div class="container p-4 pb-0">
            <p style="color: black">Вы можете посмотреть список статей по категориям:</p>
            <span>
                <a class="dropdown-item" href="/article/category/1">Косметический ремонт</a>
                <a class="dropdown-item" href="/article/category/2">Капитальный ремонт</a>
                <a class="dropdown-item" href="/article/category/3">Евроремонт</a>
            </span>
        </div>
    </div>
{% endblock %}
