{% extends 'base.html.twig' %}

{% block title %}Создание статьи{% endblock %}

{% block body %}
    <div id="app" class="container mt-5 shadow-5-strong ">
        <div class="card-header">Поделись с другими пользователями своими знаниями и умениями!</div>
        <div class="card-body over-hidden">
            <div id="editorJS" class="p-3" style="background: white"></div>
        </div>
        <div class="card-footer text-right">
            <button id="btnSaves" class="btn btn-light btn-rounded">
                Сохранить
            </button>
            <button id="btnReset" class="btn btn-light btn-rounded">Очистить</button>
        </div>
    </div>
{% endblock %}
