{% extends 'base.html.twig' %}

{% block title %}{{  controller_name }}{% endblock %}

{% block body %}
    <div id="app" class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header">EditorJS</div>
                    <div class="card-body over-hidden">
                        <div class="card-text">
                            <div id="editorJS" class="p-3" style="background: white"></div>
                        </div>
                    </div>
                    <div class="card-footer text-right">
                        <button id="btnSaves" class="btn btn-outline-primary">
                            asd
                        </button>
                        <button id="btnReset" class="btn">asd</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
