{% extends 'base.html.twig' %}

{% block body %}
    {% if articles.articles|length == 0 %}
        <div
                style="width: 70vw; margin-top: 30vh; margin-left: 20vw; padding: 20px 20px 50px;">
            <h1>К сожалению мы не смоги ничего найти</h1>
        </div>
    {% endif %}

    {% for article in articles.articles %}
        <div class="card border" style="margin-top: 20px">
            <div class="card-body">
                {{ article.header| raw }}
                {{ article.img| raw }}
                {{ article.paragraph| raw }}
                <a href="/article/show/{{ article.id }}" class="btn btn-primary">Просмотр</a>
            </div>
        </div>
        </a>
    {% endfor %}
{% endblock %}