{% extends 'base.html.twig' %}

{% block body %}
    <div class="shadow-2-strong"
         style="width: 70vw; margin-top: 20px; margin-left: 15vw; padding-top:20px; padding-left: 20px; padding-right: 20px">
        {{ text|raw }}
    </div>
{% endblock %}
